{% extends 'base.html.twig' %}

{% block title %}atom Feed Reader!{% endblock %}

{% block body %}
    <div class="text-right">
        {% if app.user %}
            {{ app.user.username }}
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
    {% if app.user %}
        <div>
            <a class="btn btn-primary" href="{{ path('atom_new_feed') }}">
                Add a feed
            </a>
        </div>
    {% endif %}
    <hr>
    {% if feedEntries.count %}
        <div class="row">
            {% for entry in feedEntries %}
                <div class="col-md-3 mb-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.title }}</h5>
                            <div>
                                <div class="float-left"><strong>{{ entry.feed.title }}</strong></div>
                                <img src="{{ entry.feed.logo }}" style="width: 36px;" alt="">
                            </div>

                            <h6>Date: {{ entry.updatedAt|date('Y-m-d H:i') }}</h6>
                            {% if (app.user) %}
                                {% include '@AtomFeed/user_feed/rate.html.twig' %}
                            {% else %}
                                <a href="{{ path('app_login') }}">Rate...</a>
                            {% endif %}
                            <div class="card-text" style="min-height: 14rem;">
                                {{ (entry.content.value ?? entry.summary.value ?? '') }}
                                <a href="{{ entry.link.0.href }}" target="_blank">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include '@AtomFeed/pagination.html.twig' with {
            currentPage: page,
            route: 'atom_feed_list',
            totalPages: totalPage
        } only %}
    {% else %}
        <div class="col-md-12 text-center">
            <div class="alert alert-info mt-5">
                No feed exists.
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <style>
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center
        }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 2em;
            font-size: 2vw;
            color: #FFD600;
            cursor: pointer
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer>
        $(document).ready(function () {
            $('.feed-rating input').on('change', function (e) {
                e.preventDefault();
                var parent = $(this).parent();

                parent.nextAll('.rating-res').fadeOut();
                $.ajax({
                    method: 'POST',
                    url: $(this).data('url'),
                    data: {
                        id: $(this).data('id'),
                        rate: $(this).val()
                    }
                }).fail(function (xhr) {
                    parent.after('<small class="rating-res" style="color: red;">error</small>');
                    $('.rating-res').fadeOut(2000);
                }).done(function (data) {
                    parent.after('<small class="rating-res" style="color: green;">' + data.join(' ') + '</small>');
                    $('.rating-res').fadeOut(2000);
                });
            });
        });
    </script>
{% endblock %}
