<nav aria-label="navigation mt-5">
    <ul class="pagination">
        {% if currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route) }}?page={{ currentPage - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}

        {% for pageNum in range(1, totalPages) %}
            {% if pageNum < -1 %} {# The value you chose for omitted chunks #}
            {% elseif pageNum == currentPage %}
                <li class="page-item active">
                    <a class="page-link" href="#" style="cursor: default;">
                        {{ pageNum }}
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route) }}?page={{ pageNum }}">{{ pageNum }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if currentPage < totalPages %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route) }}?page={{ currentPage + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
