{% extends 'base.html.twig' %}

{% block title %}Add a feed{% endblock %}

{% block body %}
    <h1>Fetch XML Atom Feed</h1>
    {{ form_start(feedForm) }}
        {{ form_widget(feedForm) }}
        <button class="btn btn-lg btn-primary text-left" type="submit">
            Submit
        </button>
        <a class="btn btn-lg btn-warning text-left" href="{{ path('atom_feed_list') }}">
            Back
        </a>
    {{ form_end(feedForm) }}
{% endblock %}