<div class="rating feed-rating">
    {% set rate = entry.userFeedEntries.0.rate ?? null %}
    {% for i in 5..1 %}
        <input type="radio" name="user[{{ entry.id }}][rate]" data-id="{{ entry.id }}" value="{{ i }}"
               id="entry-{{ entry.id }}-{{ i }}" {{ i == rate ? 'checked' : null }}
               data-url="{{ path('atom_feed_entry_rate') }}">
        <label for="entry-{{ entry.id }}-{{ i }}">☆</label>
    {% endfor %}
</div>